@charset "utf-8";
/* CSS Document */

body {
	background: #fff url('../images/00bd.png');
}
* {font-family: Tahoma; font-size:12px}
#title{font-size:17px;}

input[type="submit"]{background:#A6A6A6;cursor: pointer;border:none;border-radius: 3px; margin: 10px;}
ul.buttonUl{
    display:inline;
}

ul.buttonUl li{
    display:inline;
    width:auto;
    font-size:12px;
    text-align:center;
    padding:3px;
    list-style:none;
    cursor: pointer;
    background-color:#A6A6A6;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 1px rgba(0,0,0,0.5); /* Параметры тени */
}
fieldset{
    border:solid 1px;
    border-color:#666;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
#main{
    width: 95%;
    margin: 0px auto;
    border:solid 1px;
    border-color:#666;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
#main table{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
#authtor {
    -moz-box-shadow: 0 0 3px #87C985; /* Для Firefox */
    -webkit-box-shadow: 0 0 3px #87C985; /* Для Safari и Chrome */
    box-shadow: 0 0 3px #87C985; /* Параметры тени */
}
#sidebar_hr{
    color:#87C985;
    height: 3px;
    width:1000px;
    border: none;
    background-color:#87C985;
    -moz-box-shadow: 0 0 3px #87C985; /* Для Firefox */
    -webkit-box-shadow: 0 0 3px #87C985; /* Для Safari и Chrome */
    box-shadow: 0 0 3px #87C985; /* Параметры тени */
}

#resultTable tr:nth-child(2n){
    background: #f0f0f0;
}
ul{ 
    margin: 0;
}
li{
    display:inline;
    list-style: none;  
}


a:link {color:#666; /* Цвет ссылок */}
a:visited{color:#666;}
a:hover {color:#0C0; /* Цвет ссылки */} 
